site_name: Muwanx
site_description: Documentation for the muwanx project.
site_url: https://muwanx.readthedocs.io/
repo_name: ttktjmt/muwanx
repo_url: https://github.com/ttktjmt/muwanx
copyright: '&copy;2026 Muwanx Contributors'

nav:
  - Home: index.md
  - Getting Started:
    - Core Concepts: getting-started/core-concepts.md
    - Installation: getting-started/installation.md
    - Examples: getting-started/examples.md
    - Migrating from mjlab: getting-started/mjlab-migration.md
  - API Reference:
    - Core API: api/core.md
  - Notes:
    - Embeddings: notes/embeddings.md
    - Related Projects: notes/related-projects.md

theme:
  name: material
  icon:
    logo: simple/readthedocs
  language: en
  features:
  - header.links
  - search.suggest
  - search.highlight
  - content.tabs.link
  - content.tooltips
  - content.code.annotate
  - content.code.copy
  - content.code.select
  - navigation.indexes
  - navigation.sections
  - navigation.expand
  - navigation.path
  - navigation.top
  - navigation.footer
  palette:
  - media: '(prefers-color-scheme: dark)'
    scheme: slate
    primary: black
    accent: cyan
    toggle:
      icon: material/lightbulb-outline
      name: Switch to light mode
  - media: '(prefers-color-scheme: light)'
    scheme: default
    primary: blue grey
    accent: cyan
    toggle:
      icon: material/lightbulb
      name: Switch to dark mode
  font:
    text: Roboto
    code: Roboto Mono

plugins:
  - search

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.blocks.caption
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
