site_name: Muwanx
site_description: Documentation for the muwanx project.
site_url: https://muwanx.readthedocs.io/

repo_name: ttktjmt/muwanx
repo_url: https://github.com/ttktjmt/muwanx

copyright: '&copy;2026 Muwanx Contributors'

theme:
  name: material
  icon:
    logo: simple/readthedocs
  # favicon: images/favicon.ico
  language: en
  features:
  - header.links
  - search.suggest
  - search.highlight
  - content.tabs.link
  - content.tooltips
  - content.code.annotate
  - content.code.copy
  - content.code.select
  - navigation.indexes
  - navigation.path
  - navigation.tabs
  - navigation.top
  palette:
  - media: '(prefers-color-scheme: light)'
    scheme: default
    primary: blue grey
    accent: cyan
    toggle:
      icon: material/lightbulb
      name: Switch to dark mode
  - media: '(prefers-color-scheme: dark)'
    scheme: slate
    primary: black
    accent: cyan
    toggle:
      icon: material/lightbulb-outline
      name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono

plugins:
  - search

markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - tables
  - attr_list
  - md_in_html
  - toc:
      permalink: true

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - User Guide:
    - Basic Concepts: user-guide/basic-concepts.md
    - Creating Scenes: user-guide/creating-scenes.md
    - Adding Policies: user-guide/adding-policies.md
    - Building Projects: user-guide/building-projects.md
  - API Reference:
    - Builder: api-reference/builder.md
    - MuwanxApp: api-reference/app.md
    - Project: api-reference/project.md
    - Scene: api-reference/scene.md
    - Policy: api-reference/policy.md
  - Examples:
    - Hello World: examples/hello-world.md
    - Custom Models: examples/custom-models.md
  - Advanced:
    - Deployment: advanced/deployment.md
    - VR Support: advanced/vr-support.md
  - Contributing: contributing.md
