site_name: Muwanx
site_description: Documentation for the muwanx project.
site_url: https://muwanx.readthedocs.io/

repo_name: ttktjmt/muwanx
repo_url: https://github.com/ttktjmt/muwanx

copyright: '&copy;2026 Muwanx Contributors'

theme:
  name: material
  icon:
    logo: simple/readthedocs
  # favicon: images/favicon.ico
  language: en
  features:
  - header.links
  - search.suggest
  - search.highlight
  - content.tabs.link
  - content.tooltips
  - content.code.annotate
  - content.code.copy
  - content.code.select
  - navigation.indexes
  - navigation.sections
  - navigation.expand
  - navigation.path
  - navigation.top
  palette:
  - media: '(prefers-color-scheme: light)'
    scheme: default
    primary: blue grey
    accent: cyan
    toggle:
      icon: material/lightbulb
      name: Switch to dark mode
  - media: '(prefers-color-scheme: dark)'
    scheme: slate
    primary: black
    accent: cyan
    toggle:
      icon: material/lightbulb-outline
      name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono

plugins:
  - search

markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - tables
  - attr_list
  - md_in_html
  - toc:
      permalink: true

nav:
  - Home: index.md
  - Getting Started:
    - getting-started/index.md
    - Installation: getting-started/installation.md
    - Tutorial: getting-started/tutorial.md
    - Migrating from mjlab: getting-started/migrating.md
  - Core Concepts:
    - core-concepts.md
  - Projects:
    - related-projects.md
