site_name: Muwanx
site_description: Documentation for the muwanx project.
site_url: https://muwanx.readthedocs.io/

docs_dir: source

repo_name: ttktjmt/muwanx
repo_url: https://github.com/ttktjmt/muwanx

copyright: '&copy;2026 Muwanx Contributors'

theme:
  name: material
  language: en
  features:
  - search.suggest
  - search.highlight
  palette:
  - media: '(prefers-color-scheme: light)'
    scheme: default
    primary: blue grey
    accent: cyan
    toggle:
      icon: material/lightbulb
      name: Switch to dark mode
  - media: '(prefers-color-scheme: dark)'
    scheme: slate
    primary: black
    accent: cyan
    toggle:
      icon: material/lightbulb-outline
      name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono

plugins:
  - search
