name: publish-npm

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: npm

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install uv
        uses: astral-sh/setup-uv@v4

      - name: Run pytest
        run: uv run --python 3.12 pytest # This will sync the version with python package

      - name: Setup Node.js for template build
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org'

      - name: Build web template
        working-directory: src/muwanx/template
        run: |
          npm install
          npm run build

      - name: Publish to npm
        working-directory: src/muwanx/template
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_API_TOKEN }}
        run: npm publish --access public
