name: ruff

on:
  push:
    branches: [main, reorg]
  pull_request:
    branches: [main, reorg]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.12
        uses: actions/setup-python@v1
        with:
          python-version: 3.12
      - name: Install dependencies
        run: |
          pip install uv
          uv pip install --system -e ".[dev]"
      - name: Run ruff check
        run: ruff check src/ examples/
      - name: Run ruff format
        run: ruff format src/ examples/ --check
